@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }

.backgroundImage {
  background-image: url("../public/Image2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: top center;
}

.backgroundImageProjects {
  background-image: url("../public/Image2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  width: 100%;
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}

.equalSize {
  padding-bottom: 100%;
  margin-bottom: -100%;
  overflow: hidden;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #25231E;
}

.backgroundOverlay {
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

.carouselItem{
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 1rem;
} 

.projects {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
}

.project-card {
  width: 300px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-card .overlay a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.project-card:hover .overlay a {
  opacity: 1;
  transform: translateY(-20px);
}

.project-card .overlay a:first-child {
  margin-right: 10px;
}

.project-card .project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #171613;
  padding: 20px;
}

.project-info{
  height: 50%;
}

.project-card .project-info h3,
.project-card .project-info p {
  color: white;
  margin: 0;
  padding: 0;
}

.project-card .project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card .project-info p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.project-card .project-links {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.project-card:hover .project-links {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(-50px);
}

.project-card .project-links a {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.project-card .project-links a:first-child {
  margin-right: 10px;
}

.links {
  color: white;
}

.links:hover {
  color: red;
}

.project-links a:hover {
  border: 2px solid red;
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 20px;
  }
}

